<h1>test</h1>
<font size='40'><%= @tops %></font>
<%= search_form_for(@q, url:search_path) do |f| %>
<div>
<%= f.label :title_cont, '名前' %>
<%= f.search_field :title_cont %><!— 名称の部分一致 —>
</div>
<%= f.submit %>
<% end %>