<%= render 'header' %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hospital.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @hospital.address %>
</p>

<p>
  <strong>review:</strong>
  <%= @hospital.review %>
</p>

<p>
  <strong>latitude:</strong>
  <%= @hospital.latitude %>
</p>

<p>
  <strong>longitude:</strong>
  <%= @hospital.longitude %>
</p>


<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>

<%= render 'footer' %>